body {
  font-family: Open Sans;
  max-width: 750px;
  margin: 10px auto;
}

a:visited {
  color: blue;
}

li {
  font-weight: 300;
  font-size: 14px;
}

b {
  font-weight: 600;
}

.resume-entry{
  margin-left: 10px;
}

.resume-entry > #left-sidebar{
  padding-bottom: 3px;
  padding-left: 3px;
  border-right: 2px solid black;
  max-width: 175px;
}

.resume-entry > #left-sidebar #company-name {
  font-size: 18px;
  font-weight: 350;
}

.resume-entry > #left-sidebar #company-logo {
  width: 105px;
  height: 35px;
  margin-top: -10px;
}
